.nav-link{
  @include _nav-link-hover($light);
}

.card{
  @extend .bg-primary;
  width:240px;
  height:340px;
  cursor:pointer;
  color:$light !important;

  &:hover{
    transform: scale(1.02);
  }
}

.form-control{
  border: none !important;

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

input[type="number"].form-control{

  &::-webkit-inner-spin-button{ 
    all: unset; 
  }
}

.accordion-button{

  &::after, &:not(.collapsed)::after{
    @include _icon-accordion-button();
  }
}

footer a.link-accordion-hover{
  @include _link-accordion-hover();
}

.accordion-button{

  &:hover{
    background-color: darken($primary, 10) !important;
  }
}